/* Este archivo es el que dara formato a 'resultado.php' en el caso de que el usuario active el modo noche */
/* -------- GENERAL -------- */
*{
    margin: 0px;
    box-sizing: border-box;
}
:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid grey;
    outline: none;
}
input:focus{
    border: 2px solid grey;
    outline: none;
}
textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid grey;
    outline: none;
    resize: none;
}
textarea:focus{
    border: 2px solid grey;
    outline: none;
}
#contenedor{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    padding-top: 100px;
    background-image: url(imagenes/backgrouns_main/gray_sand.png);
}
#nombreUsuario{
    color: white;
    margin-bottom: 10px;
}
h1{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
/* -------- INDEX.HTML --------*/

#home{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    gap: 20px;
    margin: auto;
}
.botonHome{
    width: 200px;
    margin: auto;
    height: 80px;
    cursor: pointer;
    border-radius: 3px;
    background-color: steelblue;
    font-weight: bold;
    color: white;
    border: none;
}
#login{
    width: 400px;
    display: none;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
.rellenarLogin{
    margin-bottom: 15px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;

}
#botonLogin{
    width: 100px;
    margin: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: steelblue;
    font-weight: bold;
    color: white;
    border: none;
    margin-bottom: 10px;
}
#botonLogin:hover{
    background-color: rgb(34, 114, 180);

}
#registro2{
    cursor: pointer;
}
#registro2:hover{
    color: cornflowerblue;
}
#olvidoPassword{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#olvidoPassword:hover{
    color: cornflowerblue;
}
#registro{
    width: 400px;
    display: none;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    gap: 10px;
}
.rellenarRegistro{
    margin-bottom: 3px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;

}
.spanError{
    text-align: left;
    color: red;
    font-size: 12px;
    display: none;
}
#botonRegistro{
    width: 100px;
    margin: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: steelblue;
    font-weight: bold;
    color: white;
    border: none;
}
#botonRegistro:hover{
    background-color: rgb(34, 114, 180);

}
#botonRegistroCancelar{
    width: 100px;
    margin: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: none;
}
#botonRegistroCancelar:hover{
    background-color: rgb(75, 75, 75);

}
#restablecerPassword{
    width: 450px;
    display: none;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
.botonRestablecer{
    width: 170px;
    margin: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: steelblue;
    font-weight: bold;
    color: white;
    border: none;
    margin-bottom: 10px;
}
.botonRestablecer:hover{
    background-color: rgb(34, 114, 180);

}
#botonOlvidoCancelar{
    width: 100px;
    margin: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: none;
}
#botonOlvidoCancelar:hover{
    background-color: rgb(75, 75, 75);

}
#spanEmailRecuperar{
    margin-bottom: 10px;
}
/* -------- RESULTADO.PHP -------- */

#header{
    background: url(imagenes/background_header/what-the-hex-dark.png);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
}
#opcionesHeader{
    display: flex;
    justify-content: space-between;
}
#botonSalir{
    color: white;
    font-weight: bold;
    background-color: rgb(160, 39, 39);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#botonSalir span{
    margin-right: 3px;
}
#botonSalir:hover{
    background-color: rgb(214, 38, 38);
}
.modo{
    margin-top: 10px;
}
#botonBackground0{
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    height: 24px;
    border-radius: 12px;
    background-color: darkblue;
    color: white;
    padding: 4px;
    position: relative;
}
#botonBackground0 span{
    display: flex;
    align-items: center;
    font-size: 15px;
}
#botonBackground0 #bola{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid grey;
    background-color: gainsboro;
    position: absolute;
    right: unset;
    left: -1px;
}
#botonBackground1{
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    height: 24px;
    border-radius: 12px;
    background-color: orange;
    color: black;
    padding: 4px;
    position: relative;
}
#botonBackground1 span{
    display: flex;
    align-items: center;
    font-size: 15px;
}
#botonBackground1 #bola{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: gainsboro;
    border: 2px solid grey;
    position: absolute;
    right: -1px;
    left: unset;
}
.tarea{
    width: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        "nombre opciones"
        "descripcion descripcion"
    ;
    margin: auto;
    margin-bottom: 30px;

}
.hecha1{
    box-shadow: 0 0 10px 10px greenyellow;
}
.nombre{
    grid-area: nombre;
}
.opciones{
    grid-area: opciones;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.opciones div{
    text-align: center;
}
.mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mostrar:hover{
    color: skyblue;
    cursor: pointer;
}
.estado{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estado:hover{
    color: greenyellow;
    cursor: pointer;
}
.editar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.editar:hover{
    color: purple;
    cursor: pointer;
}
.eliminar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eliminar:hover{
    color: red;
    cursor: pointer;
}
.descripcion{
    grid-area: descripcion;
    border-top: 1px solid black;
    display: none;
    margin-top: 10px;
    padding: 15px;
}
.modificarTarea{
    width: 500px;
    display: none;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    gap: 20px;
    margin-bottom: 50px;
}
.rellenarNewTarea{
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid grey;
    outline: none;

}
.rellenarNewTarea2{
    height: 100px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid grey;
    outline: none;
}
.botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
}
.botonCrear{
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: steelblue;
    font-weight: bold;
    color: white;
    border: none;
}
.botonCrear:hover{
    background-color: rgb(34, 114, 180);

}
.botonCancelar{
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: none;
}
.botonCancelar:hover{
    background-color: rgb(82, 82, 82);

}
#nuevaTarea{
    width: 500px;
    display: none;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    gap: 20px;
    margin-bottom: 50px;
}
#sumarTarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background-color: steelblue;
    margin: auto;
    cursor: pointer;
}
.ocultar{
    display: none;
}
.estado0{
    color: black;
}
.estado1{
    color: greenyellow;
}
/* -------- CREARNUEVACLAVE.PHP -------- */

#restablecerPassword4{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
#restablecerPassword4 p{
    margin-bottom: 20px;
}

/* -------- CREARUSUARIO.PHP -------- */

#usuarioCreado{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
#usuarioCreado p{
    margin-bottom: 20px;
}
#usuarioNoCreado{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
#usuarioNoCreado p{
    margin-bottom: 20px;
}

/* -------- NUEVACLAVE.PHP -------- */

#restablecerPassword3{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}

/* -------- RECUPERARCLAVECONLINK.PHP -------- */
#emailRecuperar{
    margin-bottom: 10px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    margin-top: 20px;
}

#restablecerPassword2{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
#restablecerPassword2 p{
    margin-bottom: 20px;
}
#restablecerPassword5{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
#restablecerPassword5 p{
    margin-bottom: 20px;
}

/* Los siguientes formatos se activan cuando el viewport tiene un width de 670px o menos */

@media only screen and (max-width: 670px){
    #restablecerPassword2{
        width: 90%;
    }
    #restablecerPassword4{
        width: 90%;
    }
    #restablecerPassword5{
        width: 90%;
    }
    .tarea{
        width: 90%;
        margin-bottom: 15px;

    }
    #contenedor{
        padding: 10px;
        padding-top: 100px;
    }
    .modificarTarea{
        width: 90%;
        padding: 5px;
    }
    #nuevaTarea{
        width: 90%;
        padding: 5px;
    }
    .titulo{
        text-align: center;
    }

    #home{
        width: 90%;
        padding: 5px;
    }
    #login{
        width: 90%;
        padding: 5px;
    }
    #registro{
        width: 90%;
    }
    #restablecerPassword{
        width: 90%;
    }

}